body{
	background-color: #00BFFF;
	
}

#button{
	background-color: #00FFFF;
	font-size: 30px;
	font-family: Helvetica;
	border: 3px solid #00FFFF;
	transition-duration: 0.4s;
}

#button:hover {
	background-color: #00FFFF;
    color: white;
}

.container{
	width: 50px;
  	height: 50px;
  	margin-right: 12%;
}

#animate {
	position: absolute;
	min-height: 300px;
	min-width: 300px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.flower {
	height: 75px;
	width: 75px;
	background-color: rgba(0, 0, 0, 0.6);
}

.caule{
	background-color: #00FA9A;
	margin-top: 435px;
	height: 400px;
	width: 30px;
	position: static; 
	border-radius: 50px;
}


/*flower leaf*/
.flower:nth-child(1) {
	background-color: #7FFF00;
	transform: translate(30px, 30px);
	border-radius: 50% 50% 0 50%;
}

.flower:nth-child(2) {
	background-color: #FF1493;
	transform: rotate(-45deg);
	border-radius: 50% 50% 50% 0;
}

.flower:nth-child(3) {
	background-color: #DDA0DD;
	transform: translate(-30px, 30px);
	border-radius: 50% 50% 50% 0;
}

.flower:nth-child(4) {
	background-color: #9932CC;
	transform: rotate(45deg);
	border-radius: 50% 0 50% 50%;
}

.flower:nth-child(5) {
	background-color: #FFFF00;
	border-radius: 50%;
}

.flower:nth-child(6) {
	background-color: #00FF00;
	transform: rotate(-45deg);
	border-radius: 0 50% 50% 50%;
}

.flower:nth-child(7) {
	background-color: #FF4500;
	transform: translate(30px, -30px);
	border-radius: 50% 0 50% 50%;
}

.flower:nth-child(8) {
	background-color: #FF00FF;
	transform: rotate(-45deg);
	border-radius: 50% 0 50% 50%;
}

.flower:nth-child(9) {
	background-color: orange;
	transform: translate(-30px, -30px);
	border-radius: 0 50% 50% 50%;
}

@media screen and (max-width: 1000px){
   
   .container{
	width: 50px;
  	height: 50px;
  	margin-right: 110px;
  	margin-left: -110px;
}
}


